@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #222;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.no-visible-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}
 
.no-visible-scrollbar::-webkit-scrollbar {
  display: none;
}

.loader {
  border-top-color: #FEBC17;
  animation: spinner 1.5s linear infinite;
}

@keyframes spinner {
  to { transform: rotate(360deg); }
}

